---
title:  "Blog"
layout: archive
taxonomy: blog
author_profile: true
comments: true

header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/enigma.jpg
excerpt: "I write about Machine Learning, Deep Learning, Coding, Deployment, Robotics, etc."
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}